@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(82, 6, 44);
}

.header-container {
    height: 100vh;
    background-color:lightpink;
    background-image: url('./fotos/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing:  2px;
}

h2 {
    text-transform: uppercase;
    letter-spacing:  1px;
}

h3 {
    text-transform: uppercase;
    letter-spacing:  1px;
}

.Social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.Social-media a {
    text-decoration: none;
    color: rgb(95, 6, 47);
    padding: 1rem 4rem;
    border: 1px dashed rgb(226, 114, 157);
    border-radius: 8px;
    width: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background .5s ease-in-out, color .5s ease-in-out, font-size .5s ease-in-out;
}

a:hover {
    background-color:rgb(226, 114, 157);
    color: white;
    font-size: 18px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50px;
    box-shadow: 50%;
    box-shadow: 0px 0px 0px 0px lightgray;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu-items ul li a {
    margin: 10px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    width: 110%;
}

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}


#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px; 
}

#toggle:checked +.checkbox {
    background-color: lightgray;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 95vmax lightgray;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    background-image: url('./fotos/castelo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card2 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    background-image: url('./fotos/olivia\ rodrigo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text {
    width: 40%;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid lightgray;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card2:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 250px;
    width: 250px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.card2:hover > .card-wrapper::before {
    height: 250px;
    width: 250px;
    opacity: 1;
}

.card2:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.footer {
    width: 100%;
    height: 56px;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.Aboutme-title {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: black;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
}

.Aboutme-text {
    display: flex;
    height: 100px;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    color: palevioletred;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0rem 15rem 3rem 15rem;
}

@media (max-width: 1200px){
    .Social-media {
        max-width: 410px;
    }
}